<!doctype html>
<html>
	<head>
	<title>IMD Chat</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1 class="text-center">IMD Chat</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-4 col-sm-offset-3 col-xs-offset-0">
					<ul id="messages"></ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<form action="" class="form-inline">
						<input type="text" id="message" class="form-control">
						<input type="button" id="btn" value="Send" class="btn btn-default">
					</form>
				</div>
			</div>
		</div>
		<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
		<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
		<script>
			$(document).ready(function() {
				var socket = io();
 
				$('#btn').on('click', function() {
					socket.emit('message', $("#message").val());
					$("#message").val('');
				});
 
				socket.on('listMessages', function(products) {
					var length = messages.length;
					for(var i = 0; i < messages.length; i++) {
						      $('#messages').append('<li>'+messages[i].name+'</li>');
					}
				});

			});
		</script>
	</body>
</html>