html, body{
    min-height: 100%;
    padding: 0;
    margin: 0;
}

body{
    font-family: Helvetica, sans-serif;
    background-image: url(http://www.freecreatives.com/wp-content/uploads/2015/09/avengers-wallpapers-.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

#photos
{
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#photos div
{
    margin-top: 25px;
}

h1
{
    font-size: 60px;
    color: #fff;
    width: 270px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 25px;
}

.hero
{
    color: yellow;
    font-size: 80px;
}

p
{
    font-size: 20px;
    color: #fff;
        margin-left: 10px;
    text-transform: uppercase;
}

h3
{
    color: yellow;
    margin-top: -50px;
    font-size: 18px;
    margin-left: 10px;
}


/*@media (min-width: 600px) {
    
    #photos
    {
        display: flex;
        width: 100%;
        margin: 0;
        justify-content: space-around;
        flex-wrap: wrap;
    }

}


@media (min-width: 800px) {
    
    .logo
    {
        order: 3;
    }
    
    .typography
    
    {
         order: 1;
    }
    
    .ui{
         order: 2;
    }
    
    .branding{
         order: 4;
    }
    .graffiti
    {
         order: 5;
    }

}*/
        
   
