.clearfix
{
	clear: both;
}

body
{
	font-family: "Raleway";
}
nav
{
	text-transform: uppercase;
	display: block;
	float: right;
	width: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
}

nav ul li a
{
	font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
    display: block;
    padding-bottom: 10px;
    float: left;
    line-height: 14px;
}

nav ul li a:hover,
ul li.active a
{
    color: #2baaea;
}
nav ul li a.selected
{
	border-bottom: 2px solid #2baaea;
}

#foodtitle
{
	background-image: url("../img/food-title.jpg");
	height: 90vh;
	width: 100%;
	color: white;
}

.page-header h1
{
	text-transform: uppercase;
	max-width: 800px;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 300;
    padding: 20px;
    padding-top: 350px;
}

.page-header h2
{
	text-transform: uppercase;
	font-size: 60px;
    letter-spacing: 6px;
    font-weight: 400;
    margin-top: 40px;
    text-align: center;
}

.procces
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

#ingredients
{
	margin-bottom: 50px;
}

.procces h3
{
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	margin-bottom: 30px;
}

#ingredients ul
{
	width: 400px;
	margin-right: auto;
	margin-left: auto;
}

#ingredients li
{
	margin-bottom: 10px;
	margin-top: 10px;
	list-style: square;
}

#prep
{
	background-color: #efeff5;
	padding-bottom: 50px;
	padding-top: 50px;
}

#prep p
{
	margin-top: 15px;
	margin-bottom: 15px;
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	line-height: 20px;
}

.result
{
	padding-bottom: 50px;
	padding-top: 50px;
	text-align: center;
}

.result h3
{
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	margin-bottom: 30px;
}

.result img
{
	height: auto;
	width: auto;
	max-width: 500px;
}