body
{
	background-color: black;
}

h1
{
	color: white;
}

#todo-list li.prior-high, .prior-medium, .prior-low
{
	
}

.prior-high
{
	background-color: #ec0d19;
}

.prior-medium
{
	background-color: #f33f1c;
}

.prior-low
{
	background-color: #f26920;
}

.done
{
	background-color: #1ab41f;
	text-decoration: line-through;
	transform: perspective(300px) rotateX(180deg) scale(1, -1);
}

#todo-list
{
	list-style: none;
	padding-left: 0;
}

#todo-list li
{
	padding: 0.8em;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	cursor: pointer;

	transition: all 0.2s ease-out;
	
}

#todo-add-item
{
	background-color: #2a2a2a;
	padding: 1em;
}

#todo-add-item input
{
	width: 100%;
	box-sizing: border-box;
	padding: 0.5em;
	border: 1px solid #222;
	background-color: #a1a1a1;
	color: #FFF;
}