html, body{
    min-height: 100%;
    padding: 0;
    margin: 0;
}

body{
    font-family: Helvetica, sans-serif;
}

#photos
{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    display: block;
    margin-bottom: 25px;
    margin-top: 50px;
}

nav ul
{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

nav ul li
{
    font-size: 30px;
}

.logo
{
    font-size: 50px;
    display: block;
    width: 1000px;
    margin: 10px auto;
    text-align: center;
}

@media (min-width: 600px) {
    
    #photos
    {
        display: flex;
        width: 100%;
        margin: 25px 0 50px 0;
        justify-content: space-around;
        flex-wrap: wrap;
        
    }
    



}


@media (min-width: 800px) {
    
    .logo
    {
        order: 3;
            display: flex;
    width:340px;
    margin: 0;
    }

    
    .typography
    
    {
         order: 1;
    }
    
    .ui{
         order: 2;
    }
    
    .branding{
         order: 4;
    }
    .graffiti
    {
         order: 5;
    }

}
        
   
