<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <title>Chatapp</title>
</head>

<body>
    <div class="container--chat">
        <div class="topNavColor">
                <p class="siteName">Chat with me! <%= user.local.name %> connected.</p>
            
            </a>
                <a href="/logout">Logout</a>
            </div>

        </div>
        
        <h1 id="locationTitle"></h1>
        
        <div id="formDiv">
            <form name="create_chat_form" id="create_chat_form">
                <input type="text" name="chat_name" id="chat_name" placeholder="What would you like to talk about?" />
                <input type="hidden" name="username" id="username" value="<%= user.local.name %>">
                <input type="submit" name="chat_submit" id="chat_submit" />
            </form>
        </div>
        
        <div id="allchatsDiv">
            <div id="allchats"></div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
<script src="/script/chats.js"></script>
</html>