<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Log in</title>
</head>

<body>
    <div class="container--index">
        <h1>Chat with me!</h1>
        <h2>Login</h2>
        <% if (message.length > 0) { %>
            <div class="alert alert-danger">
                <%= message %>
            </div>
            <% } %>

                <form action="/" method="post">
                    <div class="form-group">
                        <input placeholder="Email" type="text" class="form-control emailForm" name="email">
                    </div>
                    <!-- END FORM-GROUP-->
                    <div class="form-group">
                        <input placeholder="Password" type="password" class="form-control" name="password">
                    </div>
                    <!-- END FORM-GROUP-->
                    <button type="submit" class="btn btn-primary btn-default">Login</button>
                </form>
                
                <p class="alreadyAccount">Nog geen account?<a href="/register"> Registreer</a> je nu hier!</p>

    </div>
    <!-- END CONTAINER -->
</body>

</html>
